body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    direction: rtl;
    text-align: center;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
}

.hero {
    padding: padding: 20px 20px 10px 20px;
}

.hero img {
width: 100%;
  max-width: 320px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.services {
    padding: 10px 20px;
}

.services h3 {
    margin-bottom: 20px;
    color: #222;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 20px;
}

.service {
    background-color: #005ea8;
    padding: 15px;
    border-radius: 10px;
}

.service img {
    width: 40px;
    height: 40px;
}

footer {
    background-color: #222;
    color: white;
    padding: 20px;
    font-size: 14px;
}
.logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: #333; /* رمادي فاتح */
  padding: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
a {
  text-decoration: none;
}